<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>User Database</title>
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
  <header>
    <a href="/looking">Looking for Work</a>
    <a href="/employed">Currently Employed</a>
  </header>
    <section id="user-section">
      {{#model}}
        <div class="users">
          <img src="{{avatar}}" alt="user image" class="center">
          <h2><a href="{{id}}">{{name}}</a></h2>
          <p class="index-p">{{job}} {{company}}<span class="red">Available for hire</span></p>
        </div>
      {{/model}}
    </section>
  </body>
</html>
